{% extends 'base.html.twig' %}

{% block title %}Edit Cv
{% endblock %}

{% block body %}
	<h1>Edition du Cv
		<a class="btn" href="{{ path('cv_show', {'id': app.session.get('id')}) }}">
			<i class="fas fa-undo-alt"></i>
		</a>
	</h1>
	{{ include('cv/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
