{% extends 'base.html.twig' %}

{% block title %}Edit Cv{% endblock %}

{% block body %}
    <h1>Edit Cv</h1>

    {{ include('cv/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cv_index') }}">back to list</a>

    {{ include('cv/_delete_form.html.twig') }}
{% endblock %}
