{% extends 'base.html.twig' %}

{% block title %}Edit Xp
{% endblock %}

{% block body %}
    <h1>Edition Expériences
		<a class="btn" href="{{ path('xp_index')}}">
			<i class="fas fa-undo-alt"></i>
		</a>
	</h1>

    {{ include('xp/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
