<form method="post" action="{{ path('hobbies_delete', {'id': hobby.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hobby.id) }}">
    <button class="btn">Delete</button>
</form>
