{% extends 'base.html.twig' %}

{% block title %}jummmp - Edition des hobbies{% endblock %}

{% block body %}
   <h1>Edition des hobbies
		<a class="btn" href="{{ path('hobbies_index') }}">
			<i class="fas fa-undo-alt"></i>
		</a>
	</h1>

    {{ include('hobbies/_form.html.twig', {'button_label': 'Update'}) }}

   
{% endblock %}
