{% extends 'base.html.twig' %}

{% block title %}Edit Hobbies
{% endblock %}

{% block body %}
<<<<<<< HEAD
	<h1>Edition des loisirs

=======
   <h1>Edition des hobbies
>>>>>>> 8edb56c051ad7c52704704ebf4ea293beb1507e9
		<a class="btn" href="{{ path('hobbies_index') }}">
			<i class="fas fa-undo-alt"></i>
		</a>
	</h1>
<<<<<<< HEAD
	{{ include('hobbies/_form.html.twig', {'button_label': 'Update'}) }}
=======

    {{ include('hobbies/_form.html.twig', {'button_label': 'Update'}) }}

   
>>>>>>> 8edb56c051ad7c52704704ebf4ea293beb1507e9
{% endblock %}
