:root
{
    --color-bg: linear-gradient(to left, #3282B8, hsl(204, 57%, 38%));
    --color-primary: #3282B8;
    --color-secondary: #BBE1FA;
    --color-tertiary: #ffbb33;
    --color-dark: #1D2424;
    --color-light: #f5f5f5; 
}