/* DASHBOARD - Page */
.dashboard
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container
{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* DASHBOARD -  Head */
.db-title
{
    padding: 2rem 0;
    width: 100%;
    display: flex;
}

.db-title h1
{
    line-height: 0;
    font-size: 3rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-secondary);
}

/* DASHBOARD -  Display */
.db-display
{   
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* DASHBOARD - Cards */
.db-card
{
    margin: 1rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, .2);
    background: var(--color-light);
    transition: all .3s ease-in-out;
}

.db-card:hover
{
    transform: scale(1.04);
    box-shadow: -2px 6px 6px rgba(0, 0, 0, .3);
}

.db-card-bottom
{
    padding: 2rem;
    background: var(--color-primary);
}

/* DASHBOARD - Cards Empty */
.db-card-add
{
    min-height: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8rem;
    color: var(--color-primary);
    background: rgba(245, 245, 245, .2);
}

/* DASHBOARD - Cards Title */
.db-card-title
{   
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(50, 130, 184, .1);
    text-transform: capitalize;
    font-size: 1.2rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-primary);
    background: var(--color-tertiary);
}

.db-card-date
{
    font-weight: 300;
    font-size: 1rem;
}

.db-card-job
{
    padding: 8rem 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.4rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-primary);
}

/* DASHBOARD - Cards Clipboard */
.db-card-clipboard
{
    margin-bottom: 1rem;
    padding: .2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: .2rem;
    color: var(--color-light);
}

.db-card-clipboard p
{
    font-weight: 300;
    font-size: .8rem;
}

.db-card-clipboard a
{
    font-size: 1.6rem;
}

/* DASHBOARD -  Cards Boutons */
.db-card-utilities
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.db-card-btn
{
    cursor: pointer;
    padding: .8rem;
    border: none;
    color: var(--color-light);
    background: transparent;
}

/* DASHBOARD - Premium Alert */
.db-premium
{
    z-index: 10;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.db-premium p
{
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--color-light);
}

/* Responsive */
/* 1200PX */
@media screen and (max-width: 1200px)
{
    .dashboard-container
    {
        width: 80%;
    }
}

/* 800PX */
@media screen and (max-width: 800px)
{
    .dashboard
    {
        height: auto;
    }

    .dashboard-container
    {
        padding: 0 2rem;
        margin-bottom: 0;
        width: 100%;
    }

    .db-title
    {
        padding: 0 2rem;
    }

    .db-card
    {
        margin-bottom: 1rem;
    }
}

/* 600PX */
@media screen and (max-width: 600px)
{
    .db-card:hover
    {
        transform: none;
        box-shadow: -2px 4px 6px rgba(0, 0, 0, .2);
    }

    .db-title h1
    {
        font-size: 2.4rem;
    }
}

/* 400PX */
@media screen and (max-width: 400px)
{
    .db-title h1
    {
        font-size: 2rem;
    }
}

