/* EDIT FORM - */
.edit-form
{
    position: relative;
    padding: 4rem;
    margin: auto;
    width: 70rem;
    border-radius: .4rem;
    background: var(--color-light);
}

/* EDIT FORM - Head */
.edit-form-head
{
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-form-head h1
{
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-primary);
}

/* EDIT FORM - Rows */
.edit-form-row
{
    padding: .4rem .4rem .4rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(36, 36, 36, .1);
    border-radius: .4rem;
    color: var(--color-dark);
}

.edit-form-row ul
{
    display: flex;
    align-items: center;
}

.efi-icon
{
    margin-right: 1rem;
    font-size: 2rem;
}

.efi-name
{
    letter-spacing: var(--font-spacing-sm);
    font-size: 1.2rem;
}

.edit-form-add
{
    padding-top: 1rem;
}

.efa-title
{
    margin-bottom: 2rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-primary);
}

/* EDIT FORM - Containers */
.edit-add-utilities
{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.eau-container
{
    display: flex;
}

.eau-container-xp
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.eau-content
{
    display: flex;
    flex-direction: column;
}

.eau-content-xp
{
    display: flex;
}

.eau-content img
{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 1px solid rgba(34, 34, 34, .2);
}

.eau-inline
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.eau-flex
{
    display: flex;
}

.edit-add-button
{
    display: flex;
    justify-content: flex-end;
}

/* EDIT FORM - Labels */
.form-label
{
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-dark);
}

/* EDIT FORM - Inputs */
.add-input
{
    height: 4rem;
    border: 1px solid rgba(36, 36, 36, .2);
    color: var(--color-dark);
}

.date-input
{
    margin-right: .6rem;
}

.text-area-input
{
    resize: none;
    padding: .6rem;
    height: 12rem;
    font-family: var(--font-text);
    font-size: 1.2rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-dark);
    background: rgba(29, 36, 36, .01);
}

.icon-input
{
    margin-right: 1rem;
}

.skill-input
{
    width: 30rem;
}

/* EDIT FORM - Buttons */
.link-edit-form
{
    margin-right: .4rem;
    cursor: pointer;
    padding: .82rem 1.24rem;
    border: none;
    border-radius: .4rem;
    color: var(--color-light);
    background: var(--color-primary);
    transition: all .1s ease-in-out;
}

.link-edit-form:hover
{
    background: var(--color-tertiary);
}

.btn-edit-form
{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: .4rem;
    color: var(--color-light);
    background: var(--color-primary);
    transition: all .1s ease-in-out;
}

.btn-edit-form:hover
{
    background: var(--color-tertiary);
}

.btn-edit-delete
{
    background:#F44336;
    transition: all .1s ease-in-out;
}

.btn-edit-delete:hover
{
    background:hsl(4, 90%, 64%);
}

.btn-save
{
    margin-top: 1rem;
}

.btn-save-skills
{
    margin-bottom: 1rem;
}

/* Responsive */
/* 800PX */
@media screen and (max-width: 800px)
{
    .edit-form
    {
        width: 96%;
    }
}

/* 600PX */
@media screen and (max-width: 600px)
{
    .edit-add-utilities
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .eau-container
    {
        flex-direction: column;
    }
}

/* 600PX */
@media screen and (max-width: 600px)
{
    .eau-inline
    {
        flex-direction: column;
    }
}

/* 460PX */
@media screen and (max-width: 460px)
{
    .edit-form-head h1
    {
        font-size: 2rem;
    }

    .skill-input
    {
        width: 100%;
    }

    .eau-content-xp
    {
        display: flex;
        flex-direction: column;
    } 
}

