.login
{
    display: flex;
    height: 100vh;
}

.login-left
{
    padding: 0 6rem 0 12rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.login-right
{
    padding-left: 6rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Header */
header h2
{
    font-weight: 300;
    font-family: var(--font-title);
    font-size: 3.8vw;
    letter-spacing: var(--font-spacing-sm);
    line-height: 3.2rem;
    color: var(--color-light);
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .08); */
}

header h1
{   margin: 1rem 0 3rem 0;
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 3.8vw;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-secondary);
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .08); */
}

header h3
{
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: var(--font-spacing-md);
    line-height: 2.2rem;
    color: var(--color-light);
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .08); */
}

.brand-text
{
    font-weight: 700;
    color: var(--color-tertiary);
}

.bold-text
{
    font-weight: 700;
}

/* Formulaire */
.form-login
{
    z-index: 10;
    padding: 4rem;
    width: 34vw;
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, .2);
    background: var(--color-light);

}

/* Titre */
.fl-title
{
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.fl-title img
{
    margin-right: .6rem;
    width: 3rem;
    height: 3rem;
}

.fl-title h4
{
    font-size: 2.4rem;
    color: var(--color-dark);
}

.title-sm
{
    font-weight: 400;
    font-size: 1.4rem;
}

/* Labels */
label
{
    margin-bottom: .6rem;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-dark);
}

/* Inputs */
input
{
    padding: .6rem;
    margin-bottom: 1rem;
    height: 3.6rem;
    border: 1px solid rgba(34, 34, 34, .2);
    border-radius: .2rem;
    font-size: 1.2rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-dark);
    background: rgba(29, 36, 36, .01);
}

/* Boutons */
.btn
{
    margin: 2rem 0 1rem 0;
    cursor: pointer;
    padding: 1.4rem 1.8rem;
    font-size: 1.2rem;
    border-radius: .4rem;
    border: none;
    font-size: 1.4rem;
    letter-spacing: var(--font-spacing-md);
    color: var(--color-light);
    background: var(--color-primary);
    transition: all .1s ease-in-out;
}

.btn:hover
{
    opacity: 90%;
}

/* Checkbox */
.checkbox-container
{
    display: flex;
    align-items: center;
}
.btn-checkbox
{
    cursor: pointer;
    margin-right: .8rem;
}

/* Utilities */
.utilities-password
{
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-primary);
}

.utilities-account
{
    position: relative;
    top: 7rem;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-light);
}

.signin
{
    font-weight: 400;
    color: var(--color-tertiary);
}

/* Responsive */
/* 1230PX */
@media screen and (max-width: 1230px)
{
    header h3
    {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .form-login
    {
        padding: 3rem;
    }

    .fl-title h4
    {
        font-size: 2rem;
    }
}

/* 1025PX */
@media screen and (max-width: 1025px)
{
    .form-login
    {
        padding: 2rem;
    }

    .fl-title img
    {
        width: 2.6rem;
        height: 2.6rem;
    }

    .fl-title h4
    {
        font-size: 2rem;
    }

    .title-sm
    {
        font-size: 1.2rem;
    }
}

/* 900PX */
@media screen and (max-width: 900px)
{
    header h3
    {
        font-size: 1rem;
        line-height: 1.8rem;
    }
    
    .fl-title img
    {
        width: 2rem;
        height: 2rem;
    }

    .fl-title h4
    {
        font-size: 1.8rem;
    }

    .title-sm
    {
        font-size: 1rem;
    }
}

/* 800PX */
@media screen and (max-width: 800px)
{
    .login-left
    {
        display: none;
    }

    .login-right
    {
        padding: 0;
        width: 100%;
        justify-content: center;
    }

    .form-login
    {
        padding: 2rem;
        width: 60%;
    }
}

/* 600PX */
@media screen and (max-width: 600px)
{
    .form-login
    {
        width: 80%;
    }
}

/* 400PX */
@media screen and (max-width: 400px)
{
    .form-login
    {
        width: 90%;
    }
}