/* Page */
.show
{
    height: 200vh;
}

/* Display */
.resume-display
{
    padding: 2rem;
    margin: auto;
    width: 80rem;
    background: var(--color-light);
}

/* Containers */
.resume-info
{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-secondary);
}

.resume-top
{
    padding: 2rem 0;
    display: flex;
}

.resume-bottom
{
    display: flex;
}

.resume-footer
{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(29, 36, 36, .2);
}

/* Items */
.items
{
    position: relative;
    padding: 2rem;
    display: flex;
}

.user-profile
{
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.user-adress
{
    width: 70%;
    background: #DDD;
}

/* Skills */
.user-skills
{
    flex-direction: column;
    border-top: 1px solid rgba(29, 36, 36, .2);
}

.skill-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill-box
{
    margin: .6rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-dark);
    border-radius: .4rem;
}

.item-skill-icon
{
    font-size: 2rem;
}

.item-skill
{
    font-size: .8rem;
}

.user-xp
{
    flex-direction: column;
    border-top: 1px solid rgba(29, 36, 36, .2);
}

.user-training
{
    flex-direction: column;
    width: 65%;
    border-top: 1px solid rgba(29, 36, 36, .2);
}

.user-hobbies
{
    flex-direction: column;
    width: 35%;
    border-top: 1px solid rgba(29, 36, 36, .2);
}

.change-template
{
    margin: auto;
    width: 80rem;
    display: flex;
    justify-content: center;
    background: var(--color-light);
}

/* Textes */
.resume-info p
{
    text-transform: capitalize;
}

.resume-title
{
    line-height: 0;
    font-size: 2rem;
    letter-spacing: var(--font-spacing-sm);
    color: var(--color-primary);
}

.item-user-firstname
{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 3rem;
    line-height: 2rem;
    letter-spacing: var(--font-spacing-sm);
}

.item-user-lastname
{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: var(--font-spacing-sm);
}

.item-title
{
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: var(--font-spacing-sm);
}

.item-text
{
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: var(--font-spacing-sm);
}

.item-avatar
{
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
    border-radius: 100%;
    background: gray;
}

.item-job
{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: var(--font-spacing-sm);
}

.item-description
{
    margin-bottom: .6rem;
}

.item-hobbies
{
    text-transform: capitalize;
}

.item-text-footer
{
    font-size: .8rem;
    color: var(--color-dark);
    opacity: 75%;
}

/* Boutons */
.edit
{
    margin: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    font-size: 1.4rem;
    color: var(--color-light);
    background: var(--color-primary);
}

.btn-dasboard
{
    margin: 0;
}

/* Responsive */
/* 800PX */
@media screen and (max-width: 800px)
{
    .resume-display
    {
        width: 56rem;
    }
}

/* 600PX */
@media screen and (max-width: 600px)
{
    
}