<footer>

    <img class="footer-bg" src="/assets/waves-footer.png">

    <div class="footer-container">

        <div class="footer-container-collapse">

            <ul class="footer-list fl-left">
                <li><a href="{{path('app_plan')}}">Plan du site</a></li>
                <li><a href="{{path('app_faq')}}">FAQ</a></li>
            </ul>

            <ul class="footer-list fl-right">
                <li><a href="{{path('app_cg')}}">CGU / CGV</a></li>
                <li><a href="{{path('app_policy')}}">Politique de confidentialité</a></li>
            </ul>

        </div>

        <div class="footer-socials-collapse">

            <ul class="footer-socials">
                <li><a href="#!"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
            </ul>

        </div> 

    </div>

</footer>