<nav>
	<a class="" href="{{path('app_login')}}">
		<h1>JUMP</h1>
	</a>

	{% if app.user %}
    <div class="nav-right">
        <img src="{{app.user.avatar}}" alt="avatar" class="">
		<a class="btn" href="{{ path('user_edit', {'id': app.user.id}) }}">Profil</a>
		<a class="btn" href="#!">Premium</a>
		<a class="btn" href="{{path('app_logout')}}">Log out</a>
    </div>
	{% endif %}

</nav>
