{% extends 'base.html.twig' %}

{% block title %}Edit Training{% endblock %}

{% block body %}
    <h1>Edition Formations
		<a class="btn" href="{{ path('training_index') }}">
			<i class="fas fa-undo-alt"></i>
		</a>
	</h1>

    {{ include('training/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
