{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h1>Edition du profil
		<a class="btn" href="{{ path('cv_index') }}">
			<i class="fas fa-undo-alt"></i>
		</a>
	</h1>
	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
