{% extends 'base.html.twig' %}

{% block title %}Edit Skills{% endblock %}

{% block body %}
    <h1>Edition des compétences
		<a class="btn" href="{{ path('skills_index') }}">
			<i class="fas fa-undo-alt"></i>
		</a>
	</h1>

    {{ include('skills/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
