{% extends 'base.html.twig' %}

{% block title %}jummmp - Édition des compétences{% endblock %}

{% block body %}

	<main class="edit-form">

		<div class="edit-form-head">
			<h1><i class="fas fa-wrench"></i>&nbsp;Compétences</h1>
			<a class="btn-dashboard" href="{{ path('skills_index') }}"><i class="fas fa-undo-alt"></i></a>
		</div>

		{{ include('skills/_form.html.twig', {'button_label': 'Update'}) }}

	</main>

{% endblock %}
